
* {
    box-sizing: border-box;
}

body {
    position: absolute;
    align-items: left;

}

body h1 {
    background-color: black;
    color: white;
}

body links{
    background-color: black;
    padding:
}

body links link,a{
    color: white;
    font-size: 130%;
    padding: 15px 30px;
}