@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}



body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: indigo;
}

.btn {
    color: gold;
    background-color : black;
    margin: 10px;
    border-radius: 20px;
    width: 150px;
    height: 100px;
    font-size: 2rem;
    cursor: pointer;
    border : none;
    font-family: "Raleway", sans-serif;
}

.btn:hover {
    opacity: 0.8;
}